
{%- capture localcss -%}
  <style>
    #sa-{{ section.id }} {
      padding-top: {{section.settings.padding_top}}px;
      padding-bottom: {{section.settings.padding_bottom}}px;
      display: flex;
      align-items: center;
      line-height: 1.7;
      color: {{section.settings.txt_color}};
      background-color: {{section.settings.background_color}};
    }

    #sa-{{ section.id }} .sa-inner {
      text-align: {{section.settings.txt_align}};
    }

    #sa-{{ section.id }} .sa-btn-wrapper {
      text-align: {{ section.settings.txt_align_mobile }};
    }

    #sa-{{ section.id }} .sa-title::before,
    #sa-{{ section.id }} .sa-title::after {
      display: none;
    }

    #sa-{{ section.id }} .sa-title {
      color: {{section.settings.txt_color}};
      line-height: 1.2;
      text-align: {{section.settings.txt_align}};
      margin-top: 0;
      margin-bottom: 35px;
    }

    #sa-{{ section.id }} .sa-divider {
      display: inline-block;
      background-color: var(--divider-color);
      margin: 0px auto 30px;
      width: 165px;
      height: 3px;
    }

    #sa-{{ section.id }} .sa-text p {
      color: {{section.settings.txt_color}};
      margin-top: 0;
      max-width: 820px;
      display: inline-block;
    }

    #sa-{{ section.id }} .sa-btn-group {
      margin-top: 35px;
    }

    @media only screen and (max-width: 767px) {
      #sa-{{ section.id }} {
        min-height: auto;
        padding-top: {{section.settings.padding_top_mobile}}px;
        padding-bottom: {{section.settings.padding_bottom_mobile}}px;
      }
      #sa-{{ section.id }} .sa-divider {
        width: 120px;
      }
    }
  </style>
{%- endcapture -%}
{{ localcss | strip_newlines }}

<div id="sa-{{ section.id }}" class="sa-{{ section.id }} sa-section sa-about" style="display: none;">
  <div class="{{ section.settings.box_width }}">
    <div class="sa-inner">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            {% if block.settings.heading_text != blank %}
              <{{ block.settings.heading_tag }} class="sa-title" {{ block.shopify_attributes }}>
                {{ block.settings.heading_text | escape }}
              </{{ block.settings.heading_tag }}>
            {% endif %}
          {% when 'text' %}
            {% if block.settings.text != blank %}
              <div class="sa-text" {{ block.shopify_attributes }}>
                {{ block.settings.text }}
              </div>
            {% endif %}
          {% when 'divider' %}
            <span class="sa-divider" style="--divider-color: {{block.settings.divider_color}}" {{ block.shopify_attributes }}></span>
          {% when 'buttons' %}
            <div class="sa-btn-wrapper">
              <div class="sa-btn-group" {{ block.shopify_attributes }}>
                {% if block.settings.button_label != blank %}
                  <a
                    href="{{block.settings.button_link}}"
                    class="sa-btn {% if block.settings.button_is_rounded == true %} sa-btn-rounded {% endif %}"
                    style="background-color: {{block.settings.btn_bg}}; color: {{block.settings.btn_color}};"
                  >
                    {{ block.settings.button_label }}
                  </a>
                {% endif %}
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "SA - About",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Main settings"
    },
    {
      "type": "select",
      "id": "txt_align",
      "label": "Content alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "select",
      "id": "box_width",
      "options": [
        {
          "value": "sa-box",
          "label": "Box"
        },
        {
          "value": "sa-box-fluid",
          "label": "Box Fluid"
        },
        {
          "value": "sa-box-fullwidth",
          "label": "Box Fullwidth"
        }
      ],
      "default": "sa-box",
      "label": "Box width"
    },
    {
      "type": "color",
      "id": "txt_color",
      "label": "Text color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding Top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 100
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Padding Top mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Padding Bottom mobile",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Heading",
      "type": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "heading_text",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading Tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            }
          ]
        }
      ]
    },
    {
      "name": "Divider",
      "type": "divider",
      "limit": 1,
      "settings": [
        {
          "type": "color",
          "id": "divider_color",
          "label": "Color",
          "default": "#ff0000"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "name": "Button",
      "type": "buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "btn_bg",
          "label": "Background color"
        },
        {
          "type": "color",
          "id": "btn_color",
          "label": "Label color"
        },
        {
          "type": "checkbox",
          "id": "button_is_rounded",
          "default": false,
          "label": "Rounded"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "︎SA - About",
      "settings": {
        "txt_align": "center",
        "txt_color": "#333",
      },
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "heading_tag": "h2",
            "heading_text": "World Of Custom Made"
          }
        },
        {
          "type": "divider",
          "settings": {
            "divider_color": "#ff6303"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p>Bringing forward a collection with an aesthetic appeal for a broad market while ensuring exceptional results is a challenge for any organization. We provide a systematic approach to creating timeless designs that are consistently reproduced through the company’s in-house capabilities.</p>"
          }
        },
        {
          "type": "buttons",
          "settings": {
            "btn_bg": "#ff6303",
            "btn_color": "#fff",
            "button_is_rounded": true,
            "button_label": "Shop Now"
          }
        }
      ]
    }
  ]
}
{% endschema %}
