
			<div class="sa-fc-{{section.id}}">
  <div class="sa-fc-cntr">
    <div class="sa-fc-wrpr sa-rvsd-{{ section.id }}">
      {%- for block in section.blocks limit: 1 -%}
        <div class="sa-fc-mn" {% if block.settings.artcl.img %}style="background: url({{ block.settings.artcl.img | image_url: width: block.settings.artcl.img.wdth }}) no-repeat;background-size: cover;"{%else%}style="background: #e8e8e8"{%endif%}>
          <span class="sa-fc-artcl">Featured Article</span>
          <h3 class="sa-fc-titl">
            {%-liquid
              if block.settings.artcl.ttl
                echo block.settings.artcl.ttl
              else
                echo 'Featured Blog Title'
              endif
             -%}
          </h3>
          <p class="sa-fc-desc">
            {%-liquid
              if block.settings.artcl.cntnt
               echo block.settings.artcl.cntnt | truncate: 200
              else
                echo 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias iste corporis cumque perspiciatis tenetur reprehenderit nam, ipsum consequatur laudantium optio.'
              endif
             -%}
          </p>
          <a href="{{block.settings.artcl.url}}" class="sa-fc-lnk">{{section.settings.btn_txt}}</a>
        </div>
      {%- endfor -%}
        <div class="sa-fc-blks">
          {%- for block in section.blocks offset: 1 -%}
            <div class="sa-fc-blk sa-itm">
              {%- if block.settings.artcl.img -%}
                {{ block.settings.artcl.img | image_url: width: block.settings.artcl.img.wdth | image_tag:  alt: block.settings.artcl.ttl }}
              {%- else -%}
                  {{ 'image' | placeholder_svg_tag }}
              {%- endif -%}
              <div class="sa-itm-info">
                <h4>
                  {%-liquid
                   if block.settings.artcl.ttl
                    echo block.settings.artcl.ttl
                   else
                     echo 'Shotkam'
                   endif
                  -%}
                </h4>
                <p>
                  {%-liquid
                    if block.settings.artcl.excerpt
                     echo block.settings.artcl.excerpt
                    else
                      echo 'Intro Shotkam'
                    endif
                   -%}
                </p>
                <a href="{{block.settings.artcl.url}}">{{section.settings.btn_txt}}</a>
              </div>
            </div>
          {%- endfor -%}
        </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "➕ SA - Blog #1",
  "tag": "section",
  "class": "sa-cstm-blg",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Button Text",
      "default": "Read more"
    },
    {
      "type": "checkbox",
      "id": "rvs_view",
      "default": false,
      "label": "Flip the view"
    },
    {
      "type": "checkbox",
      "id": "mk_rdbl",
      "default": false,
      "label": "Improve readability"
    },

    {
      "type": "header",
      "content": "Fonts and Colors"
    },
    {
      "type": "color",
      "id": "bg_clr",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "btn_clr",
      "label": "Button Color",
      "default": "#FF7A15"
    },
    {
      "type": "color",
      "id": "desc_clr",
      "label": "Description Color",
      "default": "#FFFFFF"
    },
    {
      "type": "font_picker",
      "id": "ttl_fnt",
      "default": "assistant_n4",
      "label": "Title Font",
      "info": "t:settings_schema.typography.settings.type_header_font.info"
    },
    {
      "type": "font_picker",
      "id": "desc_fnt",
      "default": "assistant_n4",
      "label": "Description Font",
      "info": "t:settings_schema.typography.settings.type_header_font.info"
    }
  ],
  "blocks": [
    {
      "type": "Article",
      "name": "SA - Blog #1",
      "settings": [
        {
          "type": "article",
          "id": "artcl",
          "label": "Choose an Article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "➕ SA - Blog #1",
      "blocks": [
        {
          "type": "Article"
        },
        {
          "type": "Article"
        },
        {
          "type": "Article"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
  {{ section.settings.ttl_fnt | font_face: font_display: 'swap' }}
  {{ section.settings.desc_fnt | font_face: font_display: 'swap' }}

  .sa-cstm-blg {
    background-color: {{ section.settings.bg_clr }};
  }
  {%- if section.settings.mk_rdbl -%}
  .sa-fc-mn {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  }
  {%- endif -%}
  {%- if section.settings.rvs_view -%}
  .sa-rvsd-{{ section.id }} {
    flex-direction: row-reverse;
  }
  {%- endif -%}
  .sa-itm-info a {
    color: {{ section.settings.btn_clr }};
    background-color: transparent;
    border: 2px solid {{ section.settings.btn_clr }};
  }
  .sa-itm-info a:hover {
    background-color: {{ section.settings.btn_clr }};
  }
  .sa-fc-lnk {
    background-color: {{ section.settings.btn_clr }};
  }
  .sa-fc-lnk:hover {
    background-color: transparent;
    border: 2px solid {{ section.settings.btn_clr }};
  }
  .sa-fc-desc {
    color: {{ section.settings.desc_clr }};
  }
  .sa-itm-info p {
    color: {{ section.settings.desc_clr }};
  }
  .sa-fc-artcl {
    color: {{ section.settings.desc_clr }};
  }
  .sa-fc-titl,
  .sa-itm-info h4 {
    font-family: {{ section.settings.ttl_fnt.family }};
    font-weight: {{ section.settings.ttl_fnt.weight }};
  }
  .sa-fc-desc,
  .sa-itm-info p {
    font-family: {{ section.settings.desc_fnt.family }};
    font-weight: {{ section.settings.desc_fnt.weight }};
  }
</style>

{% style %}
.sa-itm svg {
  max-height: 200px;
  display: block;
  margin: auto;
}

.sa-fc-cntr {
  max-width: 140rem;
  margin: 0 auto;
  padding: 50px 5rem;
}
.sa-fc-wrpr {
  display: flex;
  justify-content: space-between;
}

.sa-fc-mn {
  flex: 0 1 70%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sa-fc-blks {
  flex: 0 1 28%;
}
.sa-itm {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(164, 162, 163, .3);
  box-shadow: 0 2px 6px #0000000d;
}
.sa-itm:last-child {
  margin-bottom: 0px;
}
.sa-itm-info {
  text-align: center;
}
.sa-itm-info h4 {
  font-size: 16px;
  padding: 10px 10px;
  color: #000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
}
.sa-itm-info a:hover {
  color: white;
}
.sa-itm-info p {
  padding-bottom: 10px;
  line-height: 1.2;
  max-width: 80%;
  margin: 0 auto;
}
.sa-itm-info a {
  font-size: 18px;
  text-decoration: none;
  border-radius: 25px;
  padding: 2px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  margin: 0 auto;
  width: 100%;
  transition: all .3s;
}
.sa-itm img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}
.sa-fc-artcl {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
}
.sa-fc-titl {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  padding: 10px 0;
}
.sa-fc-desc {
  font-size: 16px;
  line-height: 1.2;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.sa-fc-lnk {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 5px 0;
  margin-top: 20px;
  text-align: center;
  max-width: 200px;
  width: 100%;
  transition: all .3s;
  border: 2px solid transparent;
  font-weight: 600;
}

@media (max-width: 767px) {
  .sa-fc-cntr {
    padding: 0 20px;
  }
  .sa-fc-mn {
    min-height: 500px;
  }
  .sa-fc-wrpr {
    flex-direction: column;
  }
  .sa-itm {
    margin-top: 20px;
  }
  .sa-fc-artcl {
    font-size: 16px;
  }
  .sa-fc-titl {
    font-size: 24px;
  }
  .sa-fc-desc {
    font-size: 16px;
    max-width: 90%;
  }
  .sa-itm-info a {
    font-size: 16px;
  }
}
{% endstyle %}
		