{% schema %}
{
  "name": "WellSaid TTS Integration",
  "settings": [
    {
      "type": "textarea",
      "id": "text_to_convert",
      "label": "Text to Convert",
      "default": "Enter the text you want to convert to speech here."
    },
    {
      "type": "select",
      "id": "speaker_id",
      "label": "Speaker ID",
      "options": [
        { "value": "3", "label": "Alana B. (Narration)" },
        { "value": "4", "label": "Ramona J. (Narration)" },
        { "value": "5", "label": "Ramona J. (Promo)" },
        { "value": "8", "label": "Sofia H. (Narration)" },
        { "value": "10", "label": "Vanessa N. (Narration)" },
        { "value": "11", "label": "Isabel V. (Narration)" },
        { "value": "13", "label": "Jeremy G. (Narration)" },
        { "value": "14", "label": "Nicole L. (Narration)" },
        { "value": "15", "label": "Paige L. (Narration)" },
        { "value": "16", "label": "Tobin A. (Narration)" },
        { "value": "18", "label": "Tristan F. (Narration)" },
        { "value": "19", "label": "Patrick K. (Narration)" },
        { "value": "20", "label": "Sofia H. (Promo)" },
        { "value": "21", "label": "Damian P. (Promo)" },
        { "value": "22", "label": "Jodi P. (Promo)" },
        { "value": "23", "label": "Lee M. (Promo)" },
        { "value": "24", "label": "Selene R. (Promo)" },
        { "value": "26", "label": "Wade C. (Promo)" },
        { "value": "27", "label": "Joe F. (Narration)" },
        { "value": "28", "label": "Joe F. (Promo)" },
        { "value": "29", "label": "Garry J. (Character)" },
        { "value": "30", "label": "Wade C. (Narration)" },
        { "value": "31", "label": "Ava M. (Narration)" },
        { "value": "32", "label": "Kai M. (Narration)" },
        { "value": "33", "label": "Jude D. (Narration)" },
        { "value": "34", "label": "Eric S. (Promo)" },
        { "value": "35", "label": "Chase J. (Narration)" },
        { "value": "37", "label": "Steve B. (Promo)" },
        { "value": "38", "label": "Bella B. (Promo)" },
        { "value": "39", "label": "Tilda C. (Promo)" },
        { "value": "40", "label": "Charlie Z. (Promo)" },
        { "value": "41", "label": "Paul B. (Promo)" },
        { "value": "42", "label": "Sofia H. (Conversational)" },
        { "value": "43", "label": "Ava M. (Conversational)" },
        { "value": "44", "label": "Kai M. (Conversational)" },
        { "value": "45", "label": "Nicole L. (Conversational)" },
        { "value": "46", "label": "Wade C. (Conversational)" },
        { "value": "47", "label": "Patrick K. (Conversational)" },
        { "value": "48", "label": "Vanessa N. (Conversational)" },
        { "value": "49", "label": "Gia V. (Narration)" },
        { "value": "50", "label": "Antony A. (Narration)" },
        { "value": "51", "label": "Jodi P. (Narration)" },
        { "value": "52", "label": "Raine B. (Narration)" },
        { "value": "53", "label": "Owen C. (Narration)" },
        { "value": "54", "label": "Zach E. (Promo)" },
        { "value": "55", "label": "Genevieve M. (Narration)" },
        { "value": "56", "label": "Jarvis H. (Narration)" },
        { "value": "57", "label": "Theo K. (Narration)" },
        { "value": "58", "label": "James B. (Narration)" },
        { "value": "59", "label": "Terra G. (Narration)" },
        { "value": "60", "label": "Philip J. (Narration)" },
        { "value": "61", "label": "Marcus G. (Narration)" },
        { "value": "62", "label": "Jordan T. (Narration)" },
        { "value": "63", "label": "Fiona H. (Narration, UK)" },
        { "value": "65", "label": "Donna W. (Narration)" },
        { "value": "66", "label": "Greg G. (Narration)" },
        { "value": "67", "label": "Zoey O. (Narration)" },
        { "value": "68", "label": "Kari N. (Narration)" },
        { "value": "69", "label": "Diarmid C. (Narration)" },
        { "value": "71", "label": "Alan T. (Narration)" },
        { "value": "72", "label": "Ava M. (Promo)" },
        { "value": "73", "label": "Tobin A. (Promo)" },
        { "value": "75", "label": "Ben D. (Narration)" },
        { "value": "76", "label": "Michael V. (Narration)" },
        { "value": "77", "label": "Cameron S. (Narration)" },
        { "value": "78", "label": "Paula R. (Narration)" },
        { "value": "79", "label": "Bella B. (Narration)" },
        { "value": "80", "label": "Marcus G. (Conversational)" },
        { "value": "81", "label": "Jordan T (Conversational)" },
        { "value": "82", "label": "Jodi P. (Conversational)" },
        { "value": "83", "label": "Diarmid C. (Promo)" },
        { "value": "84", "label": "Jarvis H. (Conversational)" },
        { "value": "85", "label": "Jarvis H. (Promo)" },
        { "value": "86", "label": "Gia V. (Conversational)" },
        { "value": "87", "label": "Gia V. (Promo)" },
        { "value": "88", "label": "Owen C. (Conversational)" },
        { "value": "89", "label": "Owen C. (Promo)" },
        { "value": "90", "label": "Philip J (Conversational)" },
        { "value": "91", "label": "Genevieve M. (Conversational)" },
        { "value": "92", "label": "Antony A. (Conversational)" },
        { "value": "93", "label": "Bella B. (Conversational)" },
        { "value": "94", "label": "Eric S. (Narration)" },
        { "value": "95", "label": "Greg G. (Conversational)" },
        { "value": "96", "label": "Jensen X. (Narration)" },
        { "value": "97", "label": "Jack C. (Narration)" },
        { "value": "98", "label": "Oliver S. (Narration)" },
        { "value": "99", "label": "Hannah A (Narration)" },
        { "value": "100", "label": "Lorenzo D. (Narration)" },
        { "value": "101", "label": "Lulu G. (Narration)" },
        { "value": "102", "label": "Abbi D. (Narration)" },
        { "value": "103", "label": "Fiona H. (Narration, IE)" },
        { "value": "104", "label": "Shelby D. (Narration)" },
        { "value": "105", "label": "Se'von M. (Narration)" },
        { "value": "106", "label": "Jimmy J. (Narration)" },
        { "value": "107", "label": "Jay S. (Narration)" },
        { "value": "108", "label": "Selene R. (Narration)" },
        { "value": "109", "label": "Issa B. (Narration)" },
        { "value": "110", "label": "Lyric K. (Narration)" },
        { "value": "111", "label": "Ali P. (Narration)" },
        { "value": "112", "label": "Aaron G. (Narration)" },
        { "value": "113", "label": "Jordan T. (Promo)" },
        { "value": "114", "label": "Greg G. (Promo)" },
        { "value": "115", "label": "Genevieve M. (Promo)" },
        { "value": "116", "label": "Marcus G. (Promo)" },
        { "value": "117", "label": "Nicole L. (Promo)" },
        { "value": "118", "label": "Philip J. (Promo)" },
        { "value": "119", "label": "Vanessa N. (Promo)" },
        { "value": "120", "label": "Diarmid C. (Conversational)" },
        { "value": "121", "label": "James B. (Conversational)" },
        { "value": "122", "label": "Lee M. (Conversational)" },
        { "value": "123", "label": "Tilda C. (Conversational)" },
        { "value": "124", "label": "Kari N. (Character)" },
        { "value": "125", "label": "Damian P. (Narration)" },
        { "value": "126", "label": "Charlie Z. (Narration)" },
        { "value": "127", "label": "Tilda C. (Narration)" },
        { "value": "128", "label": "Zach E. (Narration)" },
        { "value": "129", "label": "Paula R. (Promo)" },
        { "value": "130", "label": "Alana B. (Conversational)" },
        { "value": "131", "label": "Paige L. (Conversational)" },
        { "value": "132", "label": "Fiona H. (Conversational)" },
        { "value": "133", "label": "Ramona J. (Conversational)" },
        { "value": "135", "label": "Donna W. (Conversational)" },
        { "value": "136", "label": "Terra G. (Conversational)" },
        { "value": "137", "label": "Ben D. (Conversational)" },
        { "value": "138", "label": "Jeremy G. (Conversational)" },
        { "value": "139", "label": "Joe F. (Conversational)" },
        { "value": "140", "label": "Jude D. (Conversational)" },
        { "value": "141", "label": "Abbi_D (Conversational)" },
        { "value": "142", "label": "Antony_A (Promotional)" },
        { "value": "143", "label": "Fiona_H (Promotional)" },
        { "value": "144", "label": "Hannah_A (Conversational)" },
        { "value": "145", "label": "Issa_B (Conversational)" },
        { "value": "146", "label": "Jack_C (Conversational)" },
        { "value": "147", "label": "Jay_S (Conversational)" },
        { "value": "148", "label": "Jay_S (Promotional)" },
        { "value": "149", "label": "Jimmy_J (Conversational)" },
        { "value": "150", "label": "Lorenzo_D (Conversational)" },
        { "value": "151", "label": "Lulu_G (Conversational)" },
        { "value": "152", "label": "Oliver_S (Conversational)" },
        { "value": "153", "label": "Shelby_D (Conversational)" },
        { "value": "154", "label": "Shelby_D (Promotional)" },
        { "value": "155", "label": "Terra_G (Promotional)" }
      ]
    },
    {
      "type": "select",
      "id": "play_position",
      "label": "Play Voiceover At",
      "options": [
        { "value": "top", "label": "Top of the Page" },
        { "value": "bottom", "label": "Bottom of the Page" },
        { "value": "element_id", "label": "Specific Element" }
      ],
      "default": "top"
    },
    {
      "type": "text",
      "id": "element_id",
      "label": "Element ID",
      "info": "Enter the ID of the element where the voiceover should be triggered, if 'Specific Element' is selected."
    }
  ],
  "presets": [
    {
      "name": "WellSaid TTS Integration",
      "category": "Sections Anywhere"
    }
  ]
}
{% endschema %}

<div id="{{ section.settings.element_id }}">
  <button style="display:none" id="play-voiceover">Play Voiceover</button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const textToConvert = `{{ section.settings.text_to_convert | escape | replace: '\n', '\\n' | replace: '\r', '\\r' | replace: '"', '\\"'  }}`;
    const speakerId = "{{ section.settings.speaker_id }}";
    const playPosition = "{{ section.settings.play_position }}";
    const elementId = "{{ section.settings.element_id }}";

    function playVoiceover(textToConvert, speakerId) {
      const proxyUrl = '/apps/sa/'; // Update with your actual proxy URL
      const payload = { text: textToConvert, shop: '{{ shop.domain }}', speaker_id: speakerId };

      fetch(proxyUrl, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      })
      .then(response => response.blob())
      .then(blob => {
        const audioUrl = URL.createObjectURL(blob);
        const audio = new Audio(audioUrl);
        audio.play();
      })
      .catch(error => console.error('Error:', error));
    }

    const playButton = document.getElementById('play-voiceover');
    playButton.addEventListener('click', () => {
        console.log('Scroll Position Click:', window.scrollY);
        playVoiceover(textToConvert, speakerId);
    });

    function handleScrollTop() {
      playVoiceover(textToConvert, speakerId);
      window.removeEventListener('scroll', handleScrollTop);
    }
    

    console.log('Scroll Position:', window.scrollY)
    console.log('Play Position:', playPosition)

    if (playPosition === 'top') {
      if (window.scrollY === 0) {
        console.log('Scroll Position Top:', window.scrollY);
        setTimeout(() => {
          window.addEventListener('scroll', handleScrollTop);
        }, 1000);
      }
    } else if (playPosition === 'bottom') {
      window.addEventListener('scroll', () => {
        console.log('Scroll Position Bottom:', window.scrollY);
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
          playVoiceover(textToConvert, speakerId);
        }
      });
    } else if (playPosition === 'element_id' && elementId) {
      const targetElement = document.getElementById(elementId);
      if (targetElement) {
        const observer = new IntersectionObserver((entries) => {
          entries.forEach(entry => {
            console.log('Scroll Position Element:', window.scrollY);
            if (entry.isIntersecting) {
              playVoiceover(textToConvert, speakerId);
            }
          });
        });
        observer.observe(targetElement);
      }
    }
  });
</script>
