{% schema %}
{
  "name": "SA - Tinder Slider",
  "settings": [
    {
      "type": "range",
      "id": "image_height",
      "label": "Image Height (px)",
      "min": 100,
      "max": 1000,
      "step": 10,
      "default": 500
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Overlay Text"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text Position",
          "options": [
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "bottom-left",
              "label": "Bottom Left"
            },
            {
              "value": "bottom-right",
              "label": "Bottom Right"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "bottom-left"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SA - Tinder Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div id="app">
  <!-- Tinder slider -->
  <div class="swiper swiper-tinder swiper-3d swiper-initialized swiper-horizontal swiper-watch-progress">
    <div class="swiper-wrapper" style="cursor: grab; transition-duration: 300ms">
      {% for block in section.blocks %}
      <div class="swiper-slide" style="width: 348px; z-index: {{ forloop.index }}; transform: translate3d(348px, -{{ forloop.index }}*10px, 0px) rotateZ(45deg); opacity: {{ forloop.index }}*0.2; transform-origin: center bottom; transition-duration: 300ms;">
        <div style="position: relative; height: {{ section.settings.image_height }}px;">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="" style="height: 100%; width: 100%; object-fit: cover;" />
          {% if block.settings.text != blank %}
          <div class="demo-slide-name {{ block.settings.text_position }}">
            <b>{{ block.settings.text }}</b>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Include the necessary scripts and styles for the slider -->
<link rel="stylesheet" href="https://tinder-slider.uiinitiative.com/assets/effect-tinder.aef0cf08.css" />
<script type="module" crossorigin="" src="https://tinder-slider.uiinit
