{% schema %}
{
  "name": "SL Carousel",
  "settings": [
    {
      "type": "range",
      "id": "max_width",
      "label": "Max Width (px)",
      "default": 800,
      "min": 300,
      "max": 1200,
      "step": 10
    },
    {
      "type": "image_picker",
      "id": "image_url",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_url",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Image Alt Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SL Carousel",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="sl-carousel-wrapper" style="max-width: {{ section.settings.max_width }}px;">
  <sl-carousel pagination>
    {% for block in section.blocks %}
      <sl-carousel-item>
        <img 
        class="image"
        src="{{ block.settings.image_url | image_url }}" 
        loading="lazy" 
        height="{{ block.settings.image_url.height }}" 
        width="{{ block.settings.image_url.width }}"
        alt="{{ block.settings.image_alt }}"
      />
      </sl-carousel-item>
    {% endfor %}
  </sl-carousel>
</div>

<style>
.sl-carousel-wrapper {
  margin: 0 auto;
}

/* Additional styling for carousel items */
sl-carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

sl-carousel-item {
  flex: 0 0 auto;
  width: 100%;
}
</style>

<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    console.log('coontent loaded, now load shoelace js')
    import { SlCarousel } from 'https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace/dist/shoelace.js';
  });
</script>